click_config_file~=0.6.0
click~=7.1.2
htmlmin2~=0.1.13
Jinja2~=3.1.2
jinja2-cli~=0.8.2
lxml~=5.2.1
packaging~=23.2
pandas~=2.2.2
Pygments~=2.15.0
pyinstaller~=6.11.0
PySocks~=1.7.1
requests~=2.32.0
tabulate~=0.8.10
