import logging
import click
import engine

@click.command(short_help='{{ summary | capitalize}}.')
{%- for option in options %}
@click.option("--{{ option.name }}{%- if option.type == "boolean" -%}/--dont-{{ option.name }}{%- endif -%}" , "{{ option.name }}"
{%- if option.name == "fields" -%}, "-o"{% endif -%}
{%- if option.name == "filter" -%}, "-f"{% endif -%}
{%- if option.name == "size" -%}, "-s"{%- endif -%}
{%- if option.type == "boolean" -%}, type=bool, nargs=1{%- endif -%}
{%- if option.type == "integer" -%}, type=int{%- endif -%}
{%- if option.type == "number" -%}, type=float{%- endif -%}
{%- if option.type == "string" -%}, type=str{%- endif -%}
{%- if option.default is defined -%}, default="{{ option.default }}", show_default=True{%- endif -%}
{%- if option.required or option.in == "path" -%}, required=True{%- endif -%}
{%- if option.in == "path" -%}, nargs=1{%- endif -%}
{%- if option.name == "fields" -%}, metavar="FIELD,..."{% endif -%}
{%- if option.name == "filter" -%}, metavar="FIELD[>:,<:,>,<,!,:,~,!~]VALUE,..."{% endif -%}
{%- if option.description -%}, \
                             help="{{ option.description }}"{%- endif -%}
)
{%- endfor -%}
{# sort is missing in the swagger definitions, added below #}
{%- if "sort" not in options %}
@click.option("--sort", "sort", "-S", type=str, metavar="[+,-]FIELD,...", \
               help="Sort by the field specified")
{%- endif %}
@click.pass_obj
def {{ command }}(elm, **kwargs):
    """{{ summary | capitalize }}.

    {{ path }}

    https://www.logicmonitor.com/swagger-ui-master/dist/
    """
    elm.command = '{{ command }}'
    elm.path = '{{ path }}'
    logging.debug('elm.command: %s', elm.command)
    logging.debug('elm.path: %s', elm.path)
    logging.debug('kwargs: %s', kwargs)
    engine.engine(elm, **kwargs)
