import logging
import click
import engine

@click.command(short_help='{{ summary | capitalize | replace("'", "") }}')
{%- for option in options %}
@click.option("--{{ option.name }}{%- if option.type == "boolean" -%}/--dont-{{ option.name }}{%- endif -%}" , "{{ option.name }}"
{%- if option.name == "fields" -%}, "-f"{% endif -%}
{%- if option.name == "filter" -%}, "-F"{% endif -%}
{%- if option.name == "size" -%}, "-s"{%- endif -%}
{%- if option.type == "boolean" -%}, type=bool, nargs=1{%- endif -%}
{%- if option.type == "integer" and option.name == "size" -%}, type=click.IntRange(0, 1000), metavar="INTEGER"
{%- elif option.type == "integer" -%}, type=int{%- endif -%}
{%- if option.type == "number" -%}, type=float{%- endif -%}
{%- if option.type == "string" -%}, type=str{%- endif -%}
{%- if option.default is defined -%}, default="{{ option.default }}", show_default=True{%- endif -%}
{%- if option.required or option.in == "path" -%}, required=True{%- endif -%}
{%- if option.in == "path" -%}, nargs=1{%- endif -%}
{%- if option.name == "fields" -%}, nargs=1, metavar="FIELD,..."{% endif -%}
{%- if option.name == "filter" -%}, nargs=1, metavar="FIELD[>:,<:,>,<,!,:,~,!~]VALUE,...", callback=engine.validate_filter{% endif -%}
{%- if option.name == "size" -%}, nargs=1{%- endif -%}
{%- if option.description -%}, help="{{ option.description }}"
{%- elif option.name == "fields" -%}, \
                help="Only include the listed fields"
{%- elif option.name == "filter" -%}, \
                help="""Filter by field, operator and value. Separate
                multiple filters with a comma. Escape commas in field
                searches with a backslash. Backslash and operators may
                need escaping or quoting depending on the shell used.

                Operators:

                \b
                >: - Greater than or equals
                <: - Less than or equals
                >  - Greater than
                <  - Less than
                !: - Does not equal
                :  - Equals
                ~  - Includes
                !~ - Does not include

                """
{%- elif option.name == "size" -%}, \
                help="Quantity of results returned. [0-1000 inclusive, '0' returns all results (up to 1000)]"
{%- elif option.name == "offset" -%}, \
                help="Display results starting from offset"
{%- endif -%}
)
{%- endfor -%}
{# sort is missing in the swagger definitions, added below #}
{%- if "sort" not in options %}
@click.option("--sort", "sort", "-S", type=str, metavar="[+,-]FIELD,...", \
               help="Sort by field; inc (+), dec (-)")
{%- endif %}
@click.option("--count", "-c", "count", is_flag=True, help="Return qty of query objects instead of query data")
@click.option("--total", "-C", "total", is_flag=True, help="Return qty of ALL objects instead of query data")
@click.pass_obj
def {{ command }}(elm, **kwargs):
    """{{ summary | capitalize }}

    API Path:

    \b
    {{ path }}

    Swagger URL:

    \b
    {% if apiversion == "3" -%}
        https://www.logicmonitor.com/swagger-ui-master/api-v3/dist/#/{{ tag | urlencode }}/{{ opid | urlencode }}
    {%- else -%}
        https://www.logicmonitor.com/swagger-ui-master/dist/#/{{ tag | urlencode }}/{{ opid | urlencode }}
    {%- endif %}
    """
    elm.command = '{{ command }}'
    elm.path = '{{ path }}'
    logging.debug('elm.command: %s', elm.command)
    logging.debug('elm.path: %s', elm.path)
    logging.debug('kwargs: %s', kwargs)
    engine.engine(elm, **kwargs)
