#!/usr/bin/env python3
# ---------------------------------------
# Author: David Marsh <rdmarsh@gmail.com>
# ---------------------------------------
#
# elm - A cli interface for extracting LogicMonitor data via the api
# Copyright (C) 2021--2025 David Marsh rdmarsh@gmail.com
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program. If not, see <https://www.gnu.org/licenses/>.
"""This is the main entry point for elm"""

__project__ = 'elm'
__appname__ = 'elm'
__appdesc__ = 'A cli interface for extracting LogicMonitor data via the api'
__version__ = '1.4.0'
__author__ = 'David Marsh'
__license__ = 'GPLv3'
__copyright__ = 'Copyright 2021--2025 David Marsh'
__url__ = 'https://github.com/rdmarsh/elm'

import os
import sys
import stat
import logging
#import hashlib
#import base64
#import time
#import hmac
import socket
import socks
#import requests
import click
import click_config_file

{% for command in commands -%}
from _cmds import {{ command.command }}
{% endfor %}
logger = logging.getLogger()
FORMAT = "%(levelname)07s %(asctime)s %(filename)s:%(lineno)s %(funcName)s %(message)s"
logging.basicConfig(format=FORMAT)
config_file = os.path.join(click.get_app_dir(__project__, force_posix=True), 'config.ini')


class ELM(object):
    """Load confing and hold the state for cli tool"""
    def __init__(self, config_file, access_id, access_key, account_name, format, noheaders, index, filename, head, foot, export, halt_on_api_error):
        self.config_file = config_file
        self.access_id = access_id
        self.access_key = access_key
        self.account_name = account_name
        self.format = format
        self.noheaders = noheaders
        self.index = index
        self.filename = filename
        self.head = head
        self.foot = foot
        self.export = export
        self.halt_on_api_error = halt_on_api_error

def good_perms(file):
    filemode = os.stat(file).st_mode
    logging.info('filemode: %s', filemode)
    if bool(filemode & stat.S_IRGRP) or bool (filemode & stat.S_IROTH):
        return False
    else:
        return True

@click.group(epilog='default config file: ' + click.format_filename(config_file))
@click_config_file.configuration_option(config_file_name=config_file)
@click.option('-i', '--access_id',    help='API token access id')
@click.option('-k', '--access_key',   help='API token access key')
@click.option('-a', '--account_name', help='LogicMonitor account (company) name')
@click.option('-s', '--proxy',        type=(str, int), default=(None, 1080), metavar='<HOST PORT>', help='Socks5 proxy address and port')
@click.option('-f', '--format',       default='json', show_default=True, type=click.Choice(['csv', 'html', 'prettyhtml', 'jira', 'json', 'prettyjson', 'xml', 'prettyxml', 'gfm', 'latex', 'md', 'pipe', 'rst', 'tab', 'raw', 'txt', 'api']), help='Format of data')
@click.option('-H', '--noheaders',    is_flag=True, default=False, show_default=True, help="Hide the column headers")
@click.option('-I', '--index',        is_flag=True, default=False, show_default=True, help="Show the row indices")
@click.option('-o', '--filename',     type=click.Path(exists=False, file_okay=True, dir_okay=False, writable=True, allow_dash=True), default='-', show_default=True, help='Output to file name')
@click.option(      '--head',         default='', help="Text to prepend before the output")
@click.option(      '--foot',         default='', help="Text to append after the output")
@click.option('-v', '--verbose',      count=True, help='Be more verbose, -v is INFO, -vv is DEBUG')
@click.option('-x', '--export',       type=click.File('w'), help='Export the query to FILENAME')
@click.option('--halt-on-api-error',  is_flag=True, default=False, help="Halt on API response errors")
@click.version_option(version=__version__)
@click.pass_context
def cli(ctx, access_id, access_key, account_name, proxy, format, noheaders, index, filename, head, foot, verbose, export, halt_on_api_error):
    """A cli interface for extracting LogicMonitor data via the api

    See https://github.com/rdmarsh/elm for more information"""
    # ensure that ctx.obj exists and is a dict (in case `cli()` is called
    # by means other than the `if` block below)
    ctx.ensure_object(dict)

    if verbose >= 2:
        logger.setLevel(logging.DEBUG)
    elif verbose == 1:
        logger.setLevel(logging.INFO)
    else:
        logger.setLevel(logging.WARNING)

    #Check if specified directory exists, if provided in filename
    if filename:
        directory = os.path.dirname(filename)
        if directory and not os.path.exists(directory):
            # Directory does not exist, show an error and exit
            click.secho(f"Error: The directory '{directory}' does not exist", fg='red', err=True)
            raise click.Abort()

    #make sure we've got the bare minimun access needs
    if not access_id or not access_key or not account_name:
        click.secho('Error: access_id, access_key or account_name not set via cli or config file', fg='red', err=True)
        click.secho('Default config file: ' + click.format_filename(config_file), fg='red', err=True)
        logging.info('access_id, access_key or account_name not set via cli or config file')
        sys.exit(1)

    #make sure the perms aren't open
    #this doesn't work, config file is still the default here
    #if not good_perms(config_file):
    #    click.secho('Error: config file perms are group or world readable', fg='red', err=True)
    #    click.secho('Config file: ' + click.format_filename(config_file), fg='red', err=True)
    #    logging.info('config file permissions are group or world readable')
    #    sys.exit(1)

    #if using a proxy
    if proxy and None not in proxy:
        socks.set_default_proxy(socks.SOCKS5, proxy[0], proxy[1])
        socket.socket = socks.socksocket
        logging.info('proxy: %s:%s', proxy[0], proxy[1])

    logging.info('config_file: %s', config_file)
    logging.debug('')
    logging.debug('*********************************************************')
    logging.debug('***')
    logging.debug('*** WARNING WARNING SENSITIVE INFORMATION WARNING WARNING')
    logging.debug('***')
    logging.debug('*** access_id: %s[...]%s', access_id[:4], access_id[-4:])
    logging.debug('*** access_key: %s[...]%s', access_key[:8], access_key[-4:])
    logging.debug('*** account_name: %s', account_name)
    logging.debug('***')
    logging.debug('*********************************************************')
    logging.debug('')
    logging.info('format: %s', format)
    logging.info('noheaders: %s', noheaders)
    logging.info('index: %s', index)
    logging.info('filename: %s', filename)
    logging.info('head: %s', head)
    logging.info('foot: %s', foot)
    logging.info('export: %s', export)
    logging.info('halt_on_api_error: %s', halt_on_api_error)
    ctx.obj = ELM(config_file, access_id, access_key, account_name, format, noheaders, index, filename, head, foot, export, halt_on_api_error)

{% for command in commands -%}
cli.add_command({{ command.command }}.{{ command.command }}, name='{{ command.command }}')
{% endfor %}
if __name__ == '__main__':
    cli()
