#!/usr/bin/env python3
# ---------------------------------------
# Author: David Marsh <rdmarsh@gmail.com>
# ---------------------------------------
#
# elm - A cli interface for extracting LogicMonitor data via the api
# Copyright (C) 2021--2025 David Marsh rdmarsh@gmail.com
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program. If not, see <https://www.gnu.org/licenses/>.
"""This is the main entry point for elm"""

__project__ = 'elm'
__appname__ = 'elm'
__appdesc__ = 'A cli interface for extracting LogicMonitor data via the api'
__author__ = 'David Marsh'
__license__ = 'GPLv3'
__copyright__ = 'Copyright 2021--2025 David Marsh'
__url__ = 'https://github.com/rdmarsh/elm'

from _version import __version__

import os
import sys
import stat
import logging
#import hashlib
#import base64
#import time
#import hmac
import socket
import socks
#import requests
import click
import click_config_file
import truststore
truststore.inject_into_ssl()

import importlib

class LazyGroup(click.Group):
    """Click Group that defers command module imports until the command is invoked."""
    def __init__(self, *args, lazy_subcommands=None, **kwargs):
        super().__init__(*args, **kwargs)
        self.lazy_subcommands = lazy_subcommands or {}

    def list_commands(self, ctx):
        return sorted(self.lazy_subcommands.keys())

    def get_command(self, ctx, cmd_name):
        if cmd_name in self.lazy_subcommands:
            module = importlib.import_module(self.lazy_subcommands[cmd_name])
            return getattr(module, cmd_name)
        return super().get_command(ctx, cmd_name)

logger = logging.getLogger()
FORMAT = "%(levelname)07s %(asctime)s %(filename)s:%(lineno)s %(funcName)s %(message)s"
logging.basicConfig(format=FORMAT)
config_file = os.path.join(os.path.expanduser('~'), '.config', 'logicmonitor', 'credentials', 'config.ini')
_resolved_config_file = config_file
_creds_dir = os.path.dirname(config_file)

# Resolve --profile/-p before Click processes options so configuration_option
# reads credentials from the correct profile file.
def _profile_to_path(name):
    """Resolve a profile name to a full .ini path, stripping any .ini suffix the user may have included."""
    base = name[:-4] if name.endswith('.ini') else name
    return os.path.join(_creds_dir, base + '.ini')

_argv = sys.argv[1:]
for _i, _arg in enumerate(_argv):
    if _arg in ('-p', '--profile') and _i + 1 < len(_argv):
        config_file = _profile_to_path(_argv[_i + 1])
        _resolved_config_file = config_file
        break
    elif _arg.startswith('--profile='):
        config_file = _profile_to_path(_arg.split('=', 1)[1])
        _resolved_config_file = config_file
        break

def _capture_config_path(ctx, param, value):
    global _resolved_config_file
    if value:
        _resolved_config_file = value
    return value

def _list_profiles_callback(ctx, param, value):
    if not value or ctx.resilient_parsing:
        return
    try:
        names = sorted(
            f[:-4] for f in os.listdir(_creds_dir)
            if f.endswith('.ini') and f != 'config.example.ini'
        )
    except OSError as e:
        click.echo(f'Cannot read credentials directory: {e}', err=True)
        ctx.exit(1)
    active = os.path.splitext(os.path.basename(_resolved_config_file))[0]
    for name in names:
        prefix = '* ' if name == active else '  '
        click.echo(prefix + name)
    ctx.exit()


class ELM(object):
    """Load config and hold the state for cli tool"""
    def __init__(self, config_file, access_id, access_key, account_name, format, noheader, index, filename, head, foot, export, halt_on_api_error, cacert):
        self.config_file = config_file
        self.access_id = access_id
        self.access_key = access_key
        self.account_name = account_name
        self.format = format
        self.noheader = noheader
        self.index = index
        self.filename = filename
        self.head = head
        self.foot = foot
        self.export = export
        self.halt_on_api_error = halt_on_api_error
        self.cacert = cacert

def enforce_config_perms(config_path):
    if not os.path.exists(config_path):
        return
    config_dir = os.path.dirname(config_path)

    targets = [(config_dir, 0o700, 'config directory')]
    try:
        for name in os.listdir(config_dir):
            if name.endswith('.ini'):
                fp = os.path.join(config_dir, name)
                if os.path.isfile(fp):
                    targets.append((fp, 0o600, f'config file {name}'))
    except OSError as e:
        click.secho(f'Warning: cannot list config directory: {e}', fg='yellow', err=True)

    for path, required_mode, label in targets:
        try:
            current_mode = os.stat(path).st_mode & 0o777
            if current_mode == required_mode:
                continue
            click.secho(f'Warning: {label} has insecure permissions {oct(current_mode)}, fixing to {oct(required_mode)}: {path}', fg='yellow', err=True)
            logging.info('fixing %s permissions: %s -> %s', label, oct(current_mode), oct(required_mode))
            os.chmod(path, required_mode)
            if os.stat(path).st_mode & 0o777 != required_mode:
                click.secho(f'Error: cannot secure {label}: {path}', fg='red', err=True)
                sys.exit(1)
        except OSError as e:
            click.secho(f'Warning: cannot check {label} permissions: {e}', fg='yellow', err=True)

enforce_config_perms(config_file)

@click.group(
    cls=LazyGroup,
    lazy_subcommands={
        {% for command in commands -%}
        '{{ command.command }}': '_cmds.{{ command.command }}',
        {% endfor %}
    },
)

@click_config_file.configuration_option(config_file_name=config_file, callback=_capture_config_path)
@click.option('-l', '--list',         is_flag=True, is_eager=True, expose_value=False, callback=_list_profiles_callback, help='List available credential profiles and exit')
@click.option('-p', '--profile',      default=None, metavar='NAME', help='Credentials profile name — shorthand for --config ~/.config/logicmonitor/credentials/<NAME>.ini')
@click.option('-i', '--access_id',    help='API token access id')
@click.option('-k', '--access_key',   help='API token access key')
@click.option('-a', '--account_name', help='LogicMonitor account (company) name')
@click.option('-s', '--proxy',        type=(str, int), default=(None, 1080), metavar='<HOST PORT>', help='Socks5 proxy address and port')
@click.option('-f', '--format',       default='json', show_default=True, type=click.Choice(['csv', 'html', 'prettyhtml', 'jira', 'json', 'jsonl', 'prettyjson', 'xml', 'prettyxml', 'gfm', 'latex', 'md', 'pipe', 'rst', 'tab', 'tsv', 'raw', 'txt', 'api']), metavar='FORMAT', help='Output format: csv, tsv, json, jsonl, prettyjson, xml, prettyxml, html, prettyhtml, gfm, pipe, jira, latex, md, rst, tab, raw, txt, api')
@click.option('-H', '--noheader',     is_flag=True, default=False, show_default=True, help="Hide the column headers")
@click.option('-I', '--index',        is_flag=True, default=False, show_default=True, help="Show the row indices")
@click.option('-o', '--filename',     type=click.Path(exists=False, file_okay=True, dir_okay=False, writable=True, allow_dash=True), default='-', show_default=True, help='Output to file name')
@click.option(      '--head',         default='', help="Text to prepend before the output")
@click.option(      '--foot',         default='', help="Text to append after the output")
@click.option('-v', '--verbose',      count=True, help='Be more verbose, -v is INFO, -vv is DEBUG')
@click.option('-x', '--export',       type=click.File('w'), help='Export the query to FILENAME')
@click.option('--halt-on-api-error',  is_flag=True, default=False, help="Halt on API response errors")
@click.option('--cacert',             type=click.Path(exists=True, file_okay=True, dir_okay=False, readable=True), default=None, help='Path to CA certificate bundle for SSL verification')
@click.version_option(__version__, '-V', '--version')
@click.pass_context
def cli(ctx, access_id, access_key, account_name, proxy, format, noheader, index, filename, head, foot, verbose, export, halt_on_api_error, cacert, profile):
    """A cli interface for extracting LogicMonitor data via the api

    Default config: ~/.config/logicmonitor/credentials/config.ini

    Use -l/--list to show available credential profiles.

    See https://github.com/rdmarsh/elm for more information"""
    # ensure that ctx.obj exists and is a dict (in case `cli()` is called
    # by means other than the `if` block below)
    ctx.ensure_object(dict)

    if verbose >= 2:
        logger.setLevel(logging.DEBUG)
    elif verbose == 1:
        logger.setLevel(logging.INFO)
    else:
        logger.setLevel(logging.WARNING)

    #Check if specified directory exists, if provided in filename
    if filename:
        directory = os.path.dirname(filename)
        if directory and not os.path.exists(directory):
            # Directory does not exist, show an error and exit
            click.secho(f"Error: The directory '{directory}' does not exist", fg='red', err=True)
            raise click.Abort()

    if profile:
        logging.info('profile: %s -> %s', profile, _profile_to_path(profile))

    #make sure we've got the bare minimun access needs
    if not access_id or not access_key or not account_name:
        click.secho('Error: access_id, access_key or account_name not set via cli or config file', fg='red', err=True)
        click.secho('Config file: ' + click.format_filename(_resolved_config_file), fg='red', err=True)
        logging.info('access_id, access_key or account_name not set via cli or config file')
        sys.exit(1)

    #make sure the perms aren't open (checked at module load via enforce_config_perms)

    #if using a proxy
    if proxy and None not in proxy:
        socks.set_default_proxy(socks.SOCKS5, proxy[0], proxy[1])
        socket.socket = socks.socksocket
        logging.info('proxy: %s:%s', proxy[0], proxy[1])

    logging.info('config_file: %s', config_file)
    logging.debug('')
    logging.debug('*********************************************************')
    logging.debug('***')
    logging.debug('*** WARNING WARNING SENSITIVE INFORMATION WARNING WARNING')
    logging.debug('***')
    logging.debug('*** access_id: %s[...]%s', access_id[:4], access_id[-4:])
    logging.debug('*** access_key: %s[...]%s', access_key[:8], access_key[-4:])
    logging.debug('*** account_name: %s', account_name)
    logging.debug('***')
    logging.debug('*********************************************************')
    logging.debug('')
    logging.info('format: %s', format)
    logging.info('noheader: %s', noheader)
    logging.info('index: %s', index)
    logging.info('filename: %s', filename)
    logging.info('head: %s', head)
    logging.info('foot: %s', foot)
    logging.info('export: %s', export)
    logging.info('halt_on_api_error: %s', halt_on_api_error)
    logging.info('cacert: %s', cacert)
    ctx.obj = ELM(config_file, access_id, access_key, account_name, format, noheader, index, filename, head, foot, export, halt_on_api_error, cacert)

if __name__ == '__main__':
    cli()
